.env.infra
sample.html
.DS_Store
infra/lambda/package
*.zip
venv

# Python
__pycache__/
*.py[cod]
*$py.class

# Frontend build artifacts
frontend/dist
frontend/node_modules
frontend/src/api/endpoints.js
dist
node_modules

# AWS CloudFormation import files (temporary use)
import-*.json

# memo
memo